<!-- <footer>
    <div class="row">
        <div class="col-lg-12">

            <ul class="list-inline">
                <li class="pull-right"><a href="#top">Back to top</a></li>
                <li><a href="http://feeds.feedburner.com/bootswatch">RSS</a></li>
                <li><a href="https://twitter.com/bootswatch">Twitter</a></li>
                <li><a href="https://github.com/thomaspark/bootswatch/">GitHub</a></li>
                <li><a href="../help/#api">API</a></li>
                <li><a href="../help/#support">Support</a></li>
            </ul>

        </div>
    </div>

</footer> -->

<footer>
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <p class="mb-xs-0 copy">&copy; 2018 Remodeling.com</p>
          </div>
          <div class="col-sm-6">
            <p class="mb-xs-0 links">
              <a class="ml-xs-10 mr-xs-10" href="#">Sitemap</a><a class="ml-xs-10 mr-xs-10" href="#">Privacy Policy</a><a class="ml-xs-10 mr-xs-10" href="#">Terms of Use</a>
            </p>
          </div>
        </div>
      </div>
    </footer>
